<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница добавления новой книги</title>
</head>
<body>

<form th:action="@{/books/new}" th:method="POST" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input type="text" id="title" th:field="*{title}"/>

    <br/>

    <label for="author">Введите автора: </label>
    <input type="text" id="author" th:field="*{author}">

    <br/>

    <label for="publishYear">Введите год: </label>
    <input type="text" id="publishYear" th:field="*{publishYear}"/>

    <br/>

    <input type="submit" value="Добавить!">
</form>
</body>
</html>