<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<div>
    <p th:text="${person.name} + ', ' + ${person.birthYear}"></p>

    <br/>

    <div th:if="${#lists.isEmpty(person.books)}">
        <p>Человек пока не взял ни одной книги</p>
        <hr/>
    </div>

    <div th:if="${not #lists.isEmpty(person.books)}">
            <hr/>
            <p style="font-weight: bold">Книги:</p>
        <div th:each="book : ${person.books}">
            <p th:text="${book.title} + ', ' + ${book.author} + ', ' + ${book.publishYear}"></p>
        </div>
            <hr/>
    </div>


    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.id})}">
        <input type="submit" value="Редактировать">
    </form>
    <form th:method="DELETE" th:action="@{/people/delete/{id}(id=${person.id})}">
        <input type="submit" value="Удалить">
    </form>
</div>
</body>
</html>