<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
<div>
    <p th:text="${person.name} + ', ' + ${person.birthYear}"></p>

    <br/>

    <p th:if="${person.books eq null}">Человек пока не взял ни одной книги</p>

    <div th:if="${person.books ne null}" th:each="book : ${person.books}">
        <!--        <p th:text="${book.}"-->
    </div>

    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.id})}">
        <input type="submit" value="Редактировать">
    </form>
    <form th:method="DELETE" th:action="@{/people/delete}">
        <input type="submit" value="Удалить">
    </form>
</div>
</body>
</html>